<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:insert = "~{fragment/head :: header}"></th:block>
  <title>Board</title>
  <style>

    </style>
</head>
<body class="bg-secondary">
<div class="container">
  <th:block th:insert="~{fragment/nav :: nav}"></th:block>
  <!-- body -->
  <div class="container rounded mb-5" style="background-color: #adb5bd; height: auto; margin-top : 100px">
    <div class="w-100 d-flex flex-row justify-content-center">
      <div class=" w-lg-50 w-xs-100 px-xs-3">

        <div class="d-flex flex-row pt-5 pb-5" style="width: 200px;">
          <div class="d-flex mr-4 col-3">
            <img src="/img/icon/user_image.png" alt="" class="rounded-circle" style="width: 40px;height: 40px">
          </div>
          <div class="d-flex flex-column ml-3 w-100">
            <div th:text="${writer}">아이디</div>
            <div th:text="${#temporals.format(board.createAt,'yyyy-MM-dd')}">날짜</div>
          </div>
        </div>

          <div class="d-flex justify-content-start mt-5 pb-5" style="color: rgb(234, 245, 255)">
              <strong><h1 th:text="${board.title}">제목</h1></strong>
          </div>

        <div class="pt-5 pb-5">
          <span th:text="${board.content}">내용</span>
        </div>
      </div>
    </div>
    <div class="container px-0 mb-5 w-75 d-flex justify-content-end">
      <button id="edit-btn" class="btn btn-secondary btn-lg mt-3" style="display:none">
        수정!
      </button>
    </div>

    <!--댓글작성하기-->
    <div class="d-flex justify-content-center">
      <form class="d-flex flex-column w-lg-75 w-xs-100" name="repFrm" th:action="@{/reply/writeAction/{data}(data=${cat})}" method="post">
        <input type="hidden" id="loginId" name="loginId" value="">
        <input type="hidden" name="boardId" th:value="${board.id}">
        <div class="card mb-2 w-100" style="background-color: #adb5bd;">
          <div class="card-header">
            <i class="fa fa-comment fa"></i> 댓글쓰기
          </div>
            <div class="py-3 px-3" style="background-color: #adb5bd;">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content"></textarea>
              <div class="w-100 d-flex justify-content-end">
                <button type="button" onclick="getSessionDataForWriteReply()" class="btn btn-secondary mt-3">댓글 등록</button>
              </div>
            </div>
        </div>
      </form>
    </div>
    <!--댓글리스트 보여주기-->
  <div class="d-flex w-100 justify-content-center mt-5 pb-5">
    <div class="border mt-2 w-lg-75 w-xs-100 rounded d-flex flex-column">
      <ul class="list-group-flush pb-3" th:each="reply:${board.replies}">
        <li class="list-group-item">
          <div class="row">
            <div class="pt-3 d-flex justify-content-between">
              <div>
                <img src="/img/icon/user_image.png" class="rounded-circle" style="width: 36px;height: 36px;" alt="">
                &nbsp;&nbsp;
                <strong id="role" th:text="${reply.loginId}+[+${reply.replyRole}+]">작성자</strong>
              </div>
              <div th:text="${idAndSession}"></div>
              <div th:text="${reply.loginId}+${reply.replyRole}"></div>
              <th:block th:if="${idAndSession} == (${reply.loginId}+${reply.replyRole})">
              <div class="dropdown px-3" id="more">
                <img src="/img/icon/more_icon.png" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="width:20px;height:20px;cursor:pointer;">
                <ul class="dropdown-menu">
                  <li>
                    <button class="dropdown-item" th:replyId="${reply.id}" onclick="modifyReplyButton(this.getAttribute('replyId'))"><img src="/img/icon/edit-icon.png" style="width:15px;height:15px;">수정하기</button>
                  </li>
                  <li>
                    <a class="dropdown-item" th:href="@{/reply/remove/{role}(role=${#strings.toLowerCase(reply.replyRole)},id=${reply.id},num=${boardNum})}"><img src="/img/icon/recycle-icon.png" style="width:15px;height:15px;">삭제하기</a>
                  </li>
                </ul>
              </div>
              </th:block>
            </div>
          </div>
          <div class="row p-3">
            <div class="col w-100">
              <p th:text="${reply.content}" th:id="reply-text+${reply.id}">
                내용
              </p>
              <form class="w-100" th:id="edit-comment-form+${reply.id}" th:action="@{/reply/modify/{cat}(cat=${cat})}"method="post"  style="display:none;">
                <textarea name="content" class="w-100"></textarea>
                <input type="hidden" name="id">
                <input type="hidden" name="_method" value="PUT">
                <input type="hidden" name="num" th:value="${boardNum}">
                <div class="d-flex justify-content-end">
                  <button class="btn btn-secondary btn-sm" type="submit">댓글 수정</button>
                  <button class="btn btn-secondary btn-sm" type="button" th:replyId="${reply.id}" onclick="cancelReplyModify(this.getAttribute('replyId'))">취소</button>
                </div>
              </form>
            </div>
            <div class="d-flex justify-content-end px-3" th:text="${#temporals.format(reply.createAt,'yyyy-MM-dd')}">
              작성날짜
            </div>
          </div>
          <hr>
        </li>
      </ul>
    </div>
  </div>
  </div>
  <th:block th:insert="~{fragment/footer :: footer}"></th:block>
</div>
</body>
<script th:inline="javascript">
$(document).ready(function() {
      let data = getSessionTypeLoginId();
      let id = '';
      let session = '';
      if(data != null){
        id = data.id;
        session = data.session;
        let writerId = [[${writer}]];
        let writerSession = [[${cat}]];
        if(id == writerId && session == writerSession){
          $('#edit-btn').css('display', 'block');
        }
        $("#edit-btn").click(function(){
          const boardId = [[${board.id}]];
          const cat = [[${cat}]];
          location.href = "/board/modify/"+cat+"/"+boardId;
        })
      }
});
</script>

</html>
