<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert = "~{fragment/head :: header}"></th:block>
    <title>Board</title>
</head>
<body class="bg-secondary">
<div class="container">
    <th:block th:insert="~{fragment/nav :: nav}"></th:block>
    <!-- body -->
    <div class="container rounded mt-5 mb-5" style="background-color: #adb5bd;">
        <div class="pt-5 pb-5">
            <h2 class="text-center mt-5"> 게시글을 수정해주세요~ </h2>
            <div class="d-flex justify-content-center w-100">
                <form class="d-flex flex-column w-75" method="post" name="frm" onsubmit="return nepCheck();">
                    <div class="form-group pt-3 pb-3">
                        <label for="exampleFormControlTextarea1" class="pb-2">제목을 수정해주세요</label>
                        <input type="text" th:value="${board.title}" class="form-group w-100 rounded" name="title"  style="height: 40px;">
                    </div>
                    <div class="form-group pt-3 pb-3">
                        <label for="exampleFormControlTextarea1" class="pb-2">게시글을 수정해주세요!</label>
                        <textarea class="form-control rounded" th:text="${board.content}" id="exampleFormControlTextarea1" rows="10" name="content"></textarea>
                    </div>
                    <div class="d-flex flex-row w-100 justify-content-lg-between">
                        <div class="pt-3">
                            <select name="private_content" id="private_content" onchange="checking()" class="custom-select rounded" style="width: 100px;">
                                <option value="0">공개</option>
                                <option value="1">비공개</option>
                            </select>
                            <input type="hidden" placeholder="비밀번호를 입력하세요" id="private_content_password" maxlength="4" name="private_content_password" style="width: 200px; margin-left: 20px;" class="rounded">
                            <input type="hidden" th:value="${loginId}" name="loginId">
                            <input type="hidden" name="_method" value="PUT" id="mapping">
                        </div>
                        <div>
                            <button class="btn btn-outline-danger btn-lg float-right ml-4 mt-4 mb-4" onclick="return btn_click('delete')">삭제!</button>
                            <button class="btn btn-outline-secondary btn-lg float-right m-4" onclick="return btn_click('update')">수정!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <th:block th:insert="~{fragment/footer :: footer}"></th:block>
</div>
</body>
<script th:inline="javascript">
  function btn_click(str){
    let id = [[${board.id}]];
    let cat = [[${cat}]];
    if(str === 'update'){
       return frm.action = "/board/modifyAction/"+cat+"/"+id;
    }else if(str === 'delete'){
        $("#mapping").attr("value","DELETE");
        return frm.action = "/board/deleteAction/"+cat+"/"+id;
    }
  }
</script>
</html>