<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert = "~{fragment/head :: header}"></th:block>
    <title>Board</title>
</head>
<body class="bg-secondary">
<div class="container">
    <th:block th:insert="~{fragment/nav :: nav}"></th:block>
    <!-- body -->
    <div class="container rounded mt-5 mb-5" style="background-color: #adb5bd;">
        <div class="text-center p-5"><h2>게시판</h2></div>
        <div class="d-flex justify-content-center">
            <button type="button" id="member" onclick="change1()" class="btn btn-light">회원게시판</button>
            <button type="button" id="dealer" onclick="change2()" class="btn btn-outline-light">딜러게시판</button>
        </div>
        <div class="px-5 w-auto h-auto text-center pt-5 d-flex flex-column align-items-center text-center" style="border-radius: 30px;">
            <table class="table table-striped" style="border-radius: 60px;">
                <tr>
                    <td>번호</td>
                    <td>아이디</td>
                    <td>제목</td>
                    <td>등록날짜</td>
                    <td>공개&비밀</td>
                </tr>
                <tr th:each="board : ${list}">
                    <td th:text="${board.id}"></td>
                    <td th:text="${board.member.name}"></td>
                    <td>
                        <a th:if="${board.private_content == 1}"
                           th:href="@{/board/boardOne/{num}(num = ${board.id})}"
                           th:id="${board.id}"
                           th:text="${board.title}" onclick="return checkLogin(); getId(this.getAttribute('id'));"
                           class="title"
                           data-toggle="modal" data-target="#exampleModalCenter">
                        </a>
                        <a th:unless="${board.private_content == 1}"
                           th:href="@{/board/boardOne/{num}(num = ${board.id})}"
                           th:text="${board.title}" onclick="return checkLogin();"
                           class="title"
                        >
                        </a>
                    </td>
                    <td th:text="${#temporals.format(board.createAt,'yyyy-MM-dd')}"></td>
                    <td th:if="${board.private_content == 0}" th:text="공개"></td>
                    <td th:unless="${board.private_content == 0}" th:text="비공개"></td>
                </tr>
            </table>
            <div class="w-100 pt-5 d-flex justify-content-end">
                <button class="btn btn-secondary" onclick="location.href = '/board/write' ">글쓰기</button>
            </div>
            <div class="container p-5 w-75">
                <form class="form-group d-flex justify-content-around"action="/board/search">
                    <input type="text" name="str" class="form-control mr-2 mt-2" id="exampleFormControlInput1" placeholder="찾으시는 글제목을 입력해주세요!" style="border-radius: 30px;height: 30px;">
                    <button class="btn ml-2" type="submit" style="background-color: rgba(31, 163, 150, 0)"><img src="/webapp/img/icon/free-icon-search-6968650.png" alt="" style="width: 30px; height: 30px;"></button>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                    <h5 class="modal-title" id="exampleModalLongTitle">비밀글입니다.</h5>
                </div>
                <!--        <form method="post" action="/board/check_private_content">-->
                <div class="modal-body d-flex justify-content-center">
                    <input type="password" name="password" class="w-75" id="password" maxlength="4">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button class="btn btn-primary" id="shoot">확인</button>
                </div>
                <!--        </form>-->
            </div>
        </div>
    </div>
    <th:block th:insert="~{fragment/footer :: footer}"></th:block>
</div>
</body>
<th:block th:insert="~{fragment/footer :: js}"></th:block>
<script th:inline="javascript">

    $(document).ready(function(){
        $("#shoot").click(checking_ps);
    });
    $("#shoot").click(function(){
        var params = {
            password : $("#password").val(),
            board : num
        }
    })
<!--    var num;-->
<!--    function getId(data){-->
<!--      num = data;-->
<!--    }-->

    function checking_ps(){
        var params = {
            password : $("#password").val(),
            board : num
        }
    }

<!--        $.ajax({-->
<!--        url : "/board/checkPrivateContent",-->
<!--        data : params,-->
<!--        type : "GET"-->
<!--        })-->
<!--        .done(function (req) {-->
<!--          if(req){-->
<!--            location.href = "/board/boardOne/"+num;-->
<!--          }else{-->
<!--             $("#password").val('');-->
<!--             $("#password").attr("placeholder","비밀번호가 틀립니다.");-->
<!--          }-->
<!--        });-->
<!--    }-->
   function change1(){
        $("#dealer").removeClass("btn-light");
        $("#dealer").addClass("btn-outline-light");

        $("#member").removeClass("btn-outline-light");
        $("#member").addClass("btn-light");


    }
    function change2(){
        $("#member").removeClass("btn-light");
        $("#member").addClass("btn-outline-light");

        $("#dealer").removeClass("btn-outline-light");
        $("#dealer").addClass("btn-light");
    }


</script>
</html>