<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert = "~{fragment/head :: header}"></th:block>
    <title>MyPage</title>
</head>
<body class="bg-secondary">
<div class="container">
    <th:block th:insert="~{fragment/nav :: nav}"></th:block>
    <!-- body -->
    <div class="container rounded mb-5" style="background-color: #adb5bd;margin-top:100px">
        <div class="text-center p-5"><h2>마이페이지</h2></div>
        <div class="d-flex justify-content-center xs-font md-font">
            <table class="table w-75">
                <thead>
                <tr>
                    <th colspan="4" style="text-align: center;">[[${member.name}]] 님의 회원정보</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">이름:</th>
                    <td colspan="4" style="text-align: start;">[[${member.name}]]</td>
                </tr>
                <tr>
                    <th scope="row">이메일:</th>
                    <td colspan="4" style="text-align: start;">[[${member.email}]]</td>
                </tr>
                <tr>
                    <th scope="row">휴대폰 번호:</th>
                    <td colspan="4" style="text-align: start;">[[${member.phone}]]</td>
                </tr>
                <tr>
                    <th scope="row">회원등급:</th>
                    <td colspan="4" style="text-align: start;"><b>[[${member.grade}]]</b></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center w-100 pt-5 pb-5">
            <button class="btn btn-danger btn-lg md-font xs-font" th:onclick="|location.href='@{/member/logout}'|" style="height:45px">
                로그아웃
            </button>
        </div>
        <hr>

    <!--회원이 작성한 게시글 리스트-->
        <div class="d-flex justify-content-center py-5">
            <div class="accordion w-75" id="accordionExample2">
                <div class="accordion-item" style="background-color: #adb5bd;" >
                    <h2 class="accordion-header" id="headingOne2">
                        <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2" style="background-color: #cad0d6;">
                            <span class="w-100 text-center"><b>등록한 게시물 보기</b></span>
                        </button>
                    </h2>
                    <div id="collapseOne2" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-8 offset-md-2">
                                    <div class="list-group-flush">
                                        <a th:href="@{/board/memberBoard/{num}(num = ${board.id})}" th:each="board : ${boardList}" th:text="${board.title}" class="list-group-item list-group-item-action rounded-lg border my-3 py-3 md-font xs-font text-center">

                                        </a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--관심표현한 차량-->
        <div class="d-flex justify-content-center py-5">
            <div class="accordion w-75" id="accordionExample1">
                <div class="accordion-item" style="background-color: #adb5bd;" >
                    <h2 class="accordion-header" id="headingOne1">
                        <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1" style="background-color: #cad0d6;">
                            <span class="w-100 text-center"><b>관심표현한 차량</b></span>
                        </button>
                    </h2>
                    <div id="collapseOne1" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <th:block th:if="${likesList} != null">
                        <div class="accordion-body" th:each="likes : ${likesList}">
                            <div class="d-lg-flex flex-lg-row flex-xs-column">
                                <a th:href="@{/cars/carOne/{num}(num = ${likes.car.id} )}">
                                    <img class="border img-fluid"  th:src="${likes.car.images[0].path}" alt="" style="width: 400px;height: 300px;">
                                </a>
                                <div class="d-flex justify-content-center w-100 md-font xs-font">
                                    <table class="table w-75">
                                        <thead>
                                        <tr class="md-font">
                                            <th colspan="4" style="text-align: center;" th:text="${likes.car.name}"><b>차량이름</b></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row">차량 가격:</th>
                                            <td colspan="4" style="text-align: start;" th:text="${likes.car.price} + 만원"><b>2000만원</b></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">연식:</th>
                                            <td colspan="4" style="text-align: start;" th:text="${likes.car.year} + 년"><b>2020-08-01</b></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">주행거리 :</th>
                                            <td colspan="4" style="text-align: start;" th:text="${likes.car.distance_driven} + KM"><b>1</b></td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center pt-5 pb-3">
                                <a th:href="@{/member/removeLikes/{num}(num = ${likes.car.id})}">
                                <button type="button" class="btn btn-lg btn-danger xs-font md-font">
                                    관심차량 삭제
                                </button>
                                </a>
                            </div>
                            <hr>
                        </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <th:block th:insert="~{fragment/footer :: footer}"></th:block>
</div>
</body>
</html>