<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:fragment = "nav">
    <nav class="d-flex justify-content-around text-white rounded" id="nav" style="height: 70px; font-size: 24px; line-height: 70px; background-color: #adb5bd;">
        <div>
            <button class="btn" onclick="location.href='/main'">
                <img src="img/icon/logo2.png" style="width: 150px; height: 50px;" alt="">
            </button>
        </div>
        <div class="d-flex">
            <a href="/cars"><span><b>차량검색</b></span></a>
            <img src="img/icon/free-icon-magnifier-2311526.png" alt="" style="width: 30px ;height: 30px;margin-top: 20px;margin-left: 5px;">
        </div>
        <div>
            <a href="/board"><span><b>게시판</b></span></a>
            <img src="img/icon/free-icon-noticeboard-3000409.png" alt="" style="width: 30px ;height: 30px;margin-bottom: 2px;margin-left: 5px;">
        </div>
        <div>
            <a href="/login"><span><b>로그인</b></span></a>
            <img src="img/icon/free-icon-user-5264565.png" alt="" style="width: 30px ;height: 30px;margin-bottom: 6px;">
        </div>
        <!-- 로그인일땐 마이페이지 비로그인일땐 로그인버튼 -->
    </nav>
    </th:block>
</body>
</html>