<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <th:block th:fragment = "nav">
    <nav class="navbar navbar-expand-lg fixed-top text-white rounded" id="nav" style="height: 70px; font-size: 24px; line-height: 70px; background-color: #adb5bd;">
        <div class="container-fluid">
            <div class="mx-sm-5">
                <button class="btn mb-2" onclick="location.href='/main'">
                    <img src="/img/icon/logo2.png" style="width: 150px; height: 43px;" alt="">
                </button>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav w-100 d-flex justify-content-around">
                    <div class="d-flex justify-content-end toggle-li">
                        <li class="nav-item">
                            <a href="/cars/all"><span><b>차량검색</b></span></a>
                            <img src="/img/icon/free-icon-magnifier-2311526.png" alt="" style="width: 30px ;height: 30px;margin-left: 5px;margin-bottom: 5px;">
                        </li>
                    </div>
                    <div class="d-flex justify-content-end toggle-li">
                        <li class="nav-item">
                            <a href="/board/list/member"><span><b>게시판</b></span></a>
                            <img src="/img/icon/free-icon-noticeboard-3000409.png" alt="" style="width: 30px ;height: 30px;margin-bottom: 2px;margin-left: 5px;">
                        </li>
                    </div>
                    <div class="d-flex justify-content-end toggle-li">
                        <li class="nav-item">
                            <a href="/member/login" th:if="${session.mode} == null" th:utext="'<b>로그인</b>'"></a>
                            <a href="/member/mypage" th:if="${session.mode} == member" th:utext="'<b>마이페이지</b>'"></a>
                            <a href="/dealer/dealerPage" th:if="${session.mode} == dealer" th:utext="'<b>딜러페이지</b>'"></a>
                            <img src="/img/icon/free-icon-user-5264565.png" alt="" style="width: 30px ;height: 30px;margin-bottom: 6px;">
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    </th:block>
</body>
</html>