<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert = "~{fragment/head :: header}"></th:block>
    <title>Car_Posts</title>
</head>
<body class="bg-secondary">
<div class="container">
    <th:block th:insert="~{fragment/nav :: nav}"></th:block>
    <!-- body -->
    <div class="container rounded mb-5" style="background-color: #adb5bd;margin-top : 100px">
        <div class="d-flex justify-content-center w-100 pt-5">
            <form class="was-validated w-lg-75 w-xs-100 md-font xs-font" name="frm" method="post" action="/cars/postsAction" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="validationTextarea1" class="form-label">차량 이름</label>
                    <input type="text" name="name" class="form-control" id="validationTextarea1" placeholder="차량이름을 입력해주세요" required>
                    <div class="invalid-feedback">
                        차량이름은 필수입니다.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="validationTextarea2" class="form-label">차량 가격(:만원)</label>
                    <input type="text" name="price" class="form-control" id="validationTextarea2" placeholder="차량가격을 입력해주세요" required>
                    <div class="invalid-feedback">
                        차량가격은 필수입니다.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="validationTextarea" class="form-label">년식</label>
                    <select name="year" class="form-select">
                    </select>
                    <div class="invalid-feedback">
                        년식을 선택해주세요.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="validationTextarea" class="form-label">차량 주행거리(:KM)</label>
                    <input type="text" name="distance_driven" class="form-control" id="validationTextarea" placeholder="주행거리를 입력해주세요" required>
                    <div class="invalid-feedback">
                        주행거리는 필수입니다.
                    </div>
                </div>

                <div class="form-check mb-3">
                    <input type="radio" value="true" class="form-check-input" id="validationFormCheck2" name="accident_history" required>
                    <label class="form-check-label" for="validationFormCheck2">사고기록 유</label>
                </div>

                <div class="form-check mb-3">
                    <input type="radio" value="false" class="form-check-input" id="validationFormCheck3" name="accident_history" required>
                    <label class="form-check-label" for="validationFormCheck3">사고기록 무</label>
                    <div class="invalid-feedback">사고유무는 필수입니다.</div>
                </div>

                <div class="mb-3">
                    <label for="validationTextarea" class="form-label">지역</label>
                    <select name="area" class="form-select" id="area">
                        <option selected value="서울">서울</option>
                        <option value="경기">경기</option>
                        <option value="대구">대구</option>
                        <option value="부산">부산</option>
                        <option value="세종">세종</option>
                        <option value="대전">대전</option>
                        <option value="광주">광주</option>
                        <option value="강릉">강릉</option>
                    </select>
                    <div class="invalid-feedback">
                        지역을 선택해주세요.
                    </div>

                </div>

                <div class="mb-3">
                    <label for="validationTextarea" class="form-label">연료</label>
                    <select name="fuel" class="form-select" id="fuel">
                        <option value="휘발유">휘발유</option>
                        <option value="경유">경유</option>
                        <option value="전기">전기</option>
                    </select>
                    <div class="invalid-feedback">
                        연료를 선택해주세요
                    </div>
                </div>

                <div class="mb-3">
                    <label for="validationTextarea" class="form-label">제조사</label>
                    <select name="manufacture" class="form-select" id="">
                        <option value="HYUNDAI">hyundai</option>
                        <option value="KIA">kia</option>
                        <option value="GENESIS">genesis</option>
                        <option value="BMW">bmw</option>
                        <option value="CADILLAC">cadillac</option>
                        <option value="MERCEDES-BENZ">mercedes-benz</option>
                        <option value="AUDI">audi</option>
                        <option value="FORD">ford</option>
                        <option value="JEEP">jeep</option>
                    </select>
                    <div class="invalid-feedback">
                        제조사를 선택해주세요
                    </div>
                </div>

                <div class="mb-3">
                    <span>옵션 선택</span>
                    <select class="form-select" id="optionsPost">
                        <option selected disabled>옵션을 선택해주세요</option>
                        <option th:each="option : ${options}" th:value="${option.name}" th:text="${option.name}">옵션</option>
                    </select>
                    <ul id="ulListPost">

                    </ul>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-secondary" id="optionsListClear">옵션 초기화</button>
                    </div>
                    <input type="hidden" name="options">
                </div>

                <div class="mb-3">
                    <h5>최소 1장의 메인사진과 5장의 사이드 사진을 등록해야합니다.</h5>
                    <div class="mb-3">
                        <span>메인사진</span>
                        <input type="file" multiple="multiple" onchange="readURL(this,1);" name="images" class="form-control" required aria-label="file example">
                        <img class="pt-5 pb-3" id="preview1" style="width:300px; height:200px">
                        <div class="invalid-feedback">메인 사진은 필수입니다.</div>
                    </div>
                    <div class="mb-3">
                        <span>사이드사진1</span>
                        <input type="file" multiple="multiple" onchange="readURL(this,2);" name="images" class="form-control" required aria-label="file example">
                        <img class="pt-5 pb-3" id="preview2" style="width:300px; height:200px">
                        <div class="invalid-feedback">사진을 등록해주세요</div>
                    </div>
                    <div class="mb-3">
                        <span>사이드사진2</span>
                        <input type="file" multiple="multiple" onchange="readURL(this,3);" name="images" class="form-control" required aria-label="file example">
                        <img class="pt-5 pb-3" id="preview3" style="width:300px; height:200px">
                        <div class="invalid-feedback">사진을 등록해주세요</div>
                    </div>
                    <div class="mb-3">
                        <span>사이드사진3</span>
                        <input type="file" multiple="multiple" onchange="readURL(this,4);" name="images" class="form-control" required aria-label="file example">
                        <img class="pt-5 pb-3" id="preview4" style="width:300px; height:200px">
                        <div class="invalid-feedback">사진을 등록해주세요</div>
                    </div>
                    <div class="mb-3">
                        <span>사이드사진4</span>
                        <input type="file" multiple="multiple" onchange="readURL(this,5);" name="images" class="form-control" required aria-label="file example">
                        <img class="pt-5 pb-3" id="preview5" style="width:300px; height:200px">
                        <div class="invalid-feedback">사진을 등록해주세요</div>
                    </div>
                    <div class="mb-3">
                        <span>사이드사진5</span>
                        <input type="file" multiple="multiple" onchange="readURL(this,6);" name="images" class="form-control" required aria-label="file example">
                        <img class="pt-5 pb-3" id="preview6" style="width:300px; height:200px">
                        <div class="invalid-feedback">사진을 등록해주세요</div>
                    </div>
                    <div class="mb-3">
                        <span>사이드사진6</span>
                        <input type="file" multiple="multiple" onchange="readURL(this,7);" name="images" class="form-control" aria-label="file example">
                        <img class="pt-5 pb-3" id="preview7" style="width:300px; height:200px">
                    </div>
                </div>

                <div class="mb-3 d-flex justify-content-end">
                    <button class="btn btn-secondary" name="submitPost" type="submit" style="width:100px">등록</button>
                </div>
            </form>
        </div>

    </div>
    <th:block th:insert="~{fragment/footer :: footer}"></th:block>
</div>
</body>
<script th:inline="javascript">
    $(document).ready(function(){
        getYear();
        $("#optionsListClear").click(function(){
            $("#ulList").empty();
            optionList = [];
        })
    })
</script>
</html>