<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:insert = "~{fragment/head :: header}"></th:block>
  <title>Cars</title>

</head>
<body class="bg-secondary">
<div class="container">
  <th:block th:insert="~{fragment/nav :: nav}"></th:block>
  <div class="container-fluid rounded mb-5" style="background-color: #adb5bd;margin-top : 100px">
    <!-- search bar -->
    <div class="container py-md-5 py-xs-5 w-md-75 w-xs-100">
      <form class="form-group d-flex justify-content-around" action="/cars/search">
        <input type="text" class="form-control mr-2" name="value" id="exampleFormControlInput1" placeholder="원하시는 차량을 입력해주세요!" style="border-radius: 30px;height: 50px;">
        <button class="btn ml-2 " type="submit" style="background-color: rgba(31, 163, 150, 0)"><img src="/img/icon/free-icon-search-6968650.png" class="search-bar-lg search-bar-xs" alt=""></button>
      </form>
    </div>

    <!--catNavBar-->
    <div class="d-flex justify-content-center">
      <nav class="navbar navbar-expand-lg rounded w-75" style="background-color: #cbd1d652;">
        <div class="container-fluid d-flex justify-content-end">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav w-100 d-flex justify-content-around">
              <li class="nav-item dropdown">
                <button class="btn  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  국산차
                </button>
                <ul class="dropdown-menu dropdown-menu">
                  <li><a class="dropdown-item" href="/cars/manufacture?value=KIA">기아</a></li>
                  <li><a class="dropdown-item" href="/cars/manufacture?value=HYUNDAI">현대</a></li>
                  <li><a class="dropdown-item" href="/cars/manufacture?value=GENESIS">제네시스</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <button class="btn  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  수입차
                </button>
                <ul class="dropdown-menu dropdown-menu">
                  <li><a class="dropdown-item" href="/cars/manufacture?value=BMW">Bmw</a></li>
                  <li><a class="dropdown-item" href="/cars/manufacture?value=MERCEDES-BENZ">Mercedes-Benz</a></li>
                  <li><a class="dropdown-item" href="/cars/manufacture?value=AUDI">Audi</a></li>
                  <li><a class="dropdown-item" href="/cars/manufacture?value=CADILLAC">Cadillac</a></li>
                  <li><a class="dropdown-item" href="/cars/manufacture?value=FORD">Ford</a></li>
                  <li><a class="dropdown-item" href="/cars/manufacture?value=JEEP">Jeep</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <button class="btn  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  연료
                </button>
                <ul class="dropdown-menu dropdown-menu">
                  <li><a class="dropdown-item" href="/cars/fuel?value=Gasoline">가솔린</a></li>
                  <li><a class="dropdown-item" href="/cars/fuel?value=Diesel">디젤</a></li>
                  <li><a class="dropdown-item" href="/cars/fuel?value=Electricity">전기차</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <button class="btn  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  가격대
                </button>
                <ul class="dropdown-menu dropdown-menu">
                  <li><a class="dropdown-item" href="/cars/price?value=0-1000">1000만원 이하</a></li>
                  <li><a class="dropdown-item" href="/cars/price?value=1000-2000">1000만원 ~ 2000만원</a></li>
                  <li><a class="dropdown-item" href="/cars/price?value=2000-3000">2000만원 ~ 3000만원</a></li>
                  <li><a class="dropdown-item" href="/cars/price?value=3000-4000">3000만원 ~ 4000만원</a></li>
                  <li><a class="dropdown-item" href="/cars/price?value=4000-5000">4000만원 ~ 5000만원</a></li>
                  <li><a class="dropdown-item" href="/cars/price?value=5000-50000">5000만원 이상</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <!-- carList -->
    <div class="container d-flex justify-content-around flex-wrap rounded">
      <div class="card my-5 w-xs-100 w-md-75" style="width: 22rem;" th:each="list : ${page.content}">
        <a th:href="@{/cars/carOne/{num}(num = ${list.id})}">
          <img th:src="${list.images[0].path}" class="card-img-top" alt="...">
        </a>
        <div class="card-body md-font xs-font" style="background-color: #d1dbe8;">
          <h5 class="card-title" th:text="${list.name}">BWM-320</h5>
          <p class="card-text">가격: [[${list.price}]] (만원)</p>
          <p class="card-text">주행거리: [[${list.distance_driven}]] (KM)</p>
          <p class="card-text">년식: [[${list.year}]] (년식)</p>
          <div class="w-100 d-flex justify-content-end">
            <a th:href="@{/cars/carOne/{num}(num = ${list.id})}" class="btn" style="background-color: #adb5bd;">차량보기</a>
          </div>
        </div>
      </div>
    </div>
    <!--전체차량 리스트 페이징처리-->
    <th:block th:if="${category} == 'all'">
      <div th:if="${page.totalPages > 1}" class="d-flex flex-row justify-content-around">
        <ul class="pagination">
          <li th:classappend="${page.number == 0} ? disabled : ''" class="my-3">
            <a  th:href="@{/cars/{category}(category=${category},page=0)}">&laquo;</a>
          </li>
          <li th:each="i : ${#numbers.sequence((page.number > 3 ? page.number - 3 : 0),(page.number + 2 > page.totalPages - 1 ? page.totalPages - 1 : page.number + 2))}"  th:classappend="${page.number == i} ? active : ''" class="mx-1 px-3 my-3">
            <a th:href="@{/cars/{category}(category=${category},page=${i})}" th:text="${i + 1}"></a>
          </li>
          <li th:if="${page.totalPages} >= 6" class="mx-1 px-3 my-3">
            <a th:href="@{/cars/{category}(category=${category},page=${page.totalPages -1})}" th:text="...+${page.totalPages}"></a>
          </li>
          <li th:classappend="${page.number == page.totalPages - 1} ? disabled : ''" class="my-3">
            <a th:href="@{/cars/{category}(category=${category},page=${page.totalPages -1})}">&raquo;</a>
          </li>
        </ul>
      </div>
    </th:block>
    <!--카테고리 리스트 페이징처리-->
    <th:block th:if="${category} != 'all'">
      <div th:if="${page.totalPages > 1}" class="d-flex flex-row justify-content-around">
        <ul class="pagination">
          <li th:classappend="${page.number == 0} ? disabled : ''" class="my-3">
            <a th:href="@{/cars/{category}(category=${category},value=${query},page=0)}">&laquo;</a>
          </li>
          <li th:each="i : ${#numbers.sequence((page.number > 3 ? page.number - 3 : 0),(page.number + 2 > page.totalPages - 1 ? page.totalPages - 1 : page.number + 2))}"  th:classappend="${page.number == i} ? active : ''" class="mx-1 px-3 my-3">
            <a th:href="@{/cars/{category}(category=${category},page=${i},value=${query})}" th:text="${i + 1}" th:id="${i + 1}"></a>
          </li>
          <li th:if="${page.totalPages} >= 6" class="mx-1 px-3 my-3">
            <a th:href="@{/cars/{category}(category=${category},value=${query},page=${page.totalPages -1})}" th:text="...+${page.totalPages}"></a>
          </li>
          <li th:classappend="${page.number == page.totalPages - 1} ? disabled : ''" class="my-3">
            <a th:href="@{/cars/{category}(category=${category},value=${query},page=${page.totalPages -1})}">&raquo;</a>
          </li>
        </ul>
      </div>
    </th:block>

  </div>
  <th:block th:insert="~{fragment/footer :: footer}"></th:block>
</div>
</body>
<script th:inline="javascript">
  $(document).ready(function(){
    $(".active").css("border-bottom","5px solid rgb(120, 120, 120)");
  })
</script>
</html>