<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:insert = "~{fragment/head :: header}"></th:block>
  <title>Cars</title>
</head>
<body class="bg-secondary">
<div class="container">
  <th:block th:insert="~{fragment/nav :: nav}"></th:block>
  <div class="container-fluid rounded mt-5 mb-5" style="background-color: #adb5bd;">
    <!-- search bar -->
    <div class="container p-5 w-75">
      <form class="form-group d-flex justify-content-around" action="/cars/search">
        <input type="text" class="form-control mr-2" name="name" id="exampleFormControlInput1" placeholder="원하시는 차량을 입력해주세요!" style="border-radius: 30px;height: 50px;">
        <button class="btn ml-2" type="submit" style="background-color: rgba(31, 163, 150, 0)"><img src="/webapp/img/icon/free-icon-search-6968650.png" alt="" style="width: 30px; height: 30px;"></button>
      </form>
    </div>

    <!--catNavBar-->
    <div class="d-flex justify-content-center">
      <nav class="navbar navbar-expand-lg rounded w-75" style="background-color: #cbd1d652;">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav w-100 d-flex justify-content-around">
              <li class="nav-item dropdown">
                <button class="btn  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  국산차
                </button>
                <ul class="dropdown-menu dropdown-menu">
                  <li><a class="dropdown-item" href="/cars/category/manufacture?value=KIA">기아</a></li>
                  <li><a class="dropdown-item" href="/cars/category/manufacture?value=HYUNDAI">현대</a></li>
                  <li><a class="dropdown-item" href="/cars/category/manufacture?value=SAMSUNG">르노삼성</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <button class="btn  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  수입차
                </button>
                <ul class="dropdown-menu dropdown-menu">
                  <li><a class="dropdown-item" href="/cars/category/manufacture?value=BMW">BMW</a></li>
                  <li><a class="dropdown-item" href="/cars/category/manufacture?value=MERCEDES-BENZ">Mercedes-Benz</a></li>
                  <li><a class="dropdown-item" href="/cars/category/manufacture?value=AUDI">Audi</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <button class="btn  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  연료
                </button>
                <ul class="dropdown-menu dropdown-menu">
                  <li><a class="dropdown-item" href="/cars/category/fuel?value=Gasoline">가솔린</a></li>
                  <li><a class="dropdown-item" href="/cars/category/fuel?value=Diesel">디젤</a></li>
                  <li><a class="dropdown-item" href="/cars/category/fuel?value=Electricity">전기차</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <button class="btn  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  가격대
                </button>
                <ul class="dropdown-menu dropdown-menu">
                  <li><a class="dropdown-item" href="/cars/category/price?low=0&high=1000">1000만원 이하</a></li>
                  <li><a class="dropdown-item" href="/cars/category/price?low=1000&high=2000">1000만원 ~ 2000만원</a></li>
                  <li><a class="dropdown-item" href="/cars/category/price?low=2000&high=3000">2000만원 ~ 3000만원</a></li>
                  <li><a class="dropdown-item" href="/cars/category/price?low=3000&high=4000">3000만원 ~ 4000만원</a></li>
                  <li><a class="dropdown-item" href="/cars/category/price?low=4000&high=5000">4000만원 ~ 5000만원</a></li>
                  <li><a class="dropdown-item" href="/cars/category/price?low=5000&high=50000">5000만원 이상</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <!-- carList -->
    <div class="container d-flex justify-content-around flex-wrap rounded">
      <div class="card m-5" style="width: 22rem;" th:each="list : ${page.content}">
        <a th:href="@{/cars/carOne/{num}(num = ${list.id})}">
          <img th:src="${list.images[0].path}" class="card-img-top" alt="...">
        </a>
        <div class="card-body" style="background-color: #d1dbe8;">
          <h5 class="card-title" th:text="${list.name}">BWM-320</h5>
          <p class="card-text">가격: [[${list.price}]] (만원)</p>
          <p class="card-text">주행거리: [[${list.distance_driven}]] (KM)</p>
          <div class="w-100 d-flex justify-content-end">
            <a th:href="@{/cars/carOne/{num}(num = ${list.id})}" class="btn" style="background-color: #adb5bd;">차량보기</a>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-row justify-content-around">
      <div class="my-3">
        <a href="#"><span><-- Previous</span></a>
      </div>

      <div class="d-flex justify-content-center">
        <div th:each="i : ${#numbers.sequence(1, page.totalPages)}" th:if="${i} <= 5" class="mx-1 px-3 my-3">
          <a href="#">[[${i}]]</a>
        </div>
        <div th:each="i : ${#numbers.sequence(1, page.totalPages)}" class="mx-1 px-3 my-3">
          <a href="#">[[${i}]]</a>
        </div>
        <div th:each="i : ${#numbers.sequence(1, page.totalPages)}" class="mx-1 px-3 my-3">
          <a href="#">[[${i}]]</a>
        </div>
        <div th:each="i : ${#numbers.sequence(1, page.totalPages)}" class="mx-1 px-3 my-3">
          <a href="#">[[${i}]]</a>
        </div>
        <div class="mx-1 px-3 my-3">
          <a href="#">...[[${page.totalPages}]]</a>
        </div>
      </div>

      <div class="my-3">
        <a href="#"><span>Next --></span></a>
      </div>
    </div>

  </div>
  <th:block th:insert="~{fragment/footer :: footer}"></th:block>
</div>
</body>
</html>