<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert = "~{fragment/head :: header}"></th:block>
    <title>MyPage</title>
</head>
<body class="bg-secondary">
<div class="container">
    <th:block th:insert="~{fragment/nav :: nav}"></th:block>
    <!-- body -->
    <div class="container rounded mt-5 mb-5" style="background-color: #adb5bd;">
        <div class="text-center p-5"><h2>딜러페이지</h2></div>
        <div class="d-flex justify-content-center">
            <table class="table w-75">
                <thead>
                <tr>
                    <th colspan="4" style="text-align: center;">[[${dealer.name}]] 딜러님의 정보</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">이름:</th>
                    <td colspan="4" style="text-align: start;">[[${dealer.name}]]</td>
                </tr>
                <tr>
                    <th scope="row">아이디:</th>
                    <td colspan="4" style="text-align: start;">[[${dealer.loginId}]]</td>
                </tr>
                <tr>
                    <th scope="row">휴대폰 번호:</th>
                    <td colspan="4" style="text-align: start;">[[${dealer.phone}]]</td>
                </tr>
                <tr>
                    <th scope="row">회사명:</th>
                    <td colspan="4" style="text-align: start;">[[${dealer.card.company}]]</td>
                </tr>
                <tr>
                    <th scope="row">사원증 번호:</th>
                    <td colspan="4" style="text-align: start;">[[${dealer.card.employee_number}]]</td>
                </tr>
                <tr>
                    <th scope="row">사원증 발급일자:</th>
                    <td colspan="4" style="text-align: start;"><b>[[${dealer.card.acquisition_date}]]</b></td>
                </tr>
                <tr>
                    <th scope="row">차량판매횟수:</th>
                    <td colspan="4" style="text-align: start;"><b>[[${dealer.sale_count}]]</b></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-around w-100 pt-5 pb-5">
            <button class="btn btn-secondary btn-lg" th:onclick="|location.href='@{/cars/posts}'|" style="height:45px">
                차량등록
            </button>
            <button class="btn btn-danger btn-lg" th:onclick="|location.href='@{/dealer/logout}'|" style="height:45px">
                로그아웃
            </button>
        </div>
        <hr>
         <!--딜러 개인 등록한 차량 리스트-->
        <div class="d-flex justify-content-center py-5">
            <div class="accordion w-75" id="accordionExample">
                <div class="accordion-item" style="background-color: #adb5bd;" >
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="background-color: #cad0d6;">
                            <span class="w-100 text-center"><b>등록한 차량보기</b></span>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body" th:each="cars : ${list}">
                            <div class="d-flex">
                                <img class="border" th:src="${cars.images[0].path}" alt="" style="width: 400px;height: 300px;">
                                <div class="d-flex justify-content-center w-100">
                                    <table class="table w-75">
                                        <thead>
                                        <tr>
                                            <th colspan="4" style="text-align: center;" th:text="${cars.name}"><b>차량이름</b></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row">등록한 가격:</th>
                                            <td colspan="4" style="text-align: start;" th:text="${cars.price}"><b>2000만원</b></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">등록일자:</th>
                                            <td colspan="4" style="text-align: start;" th:text="${#temporals.format(cars.createAt,'yyyy-MM-dd')}"><b>2020-08-01</b></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">좋아요 횟수:</th>
                                            <td colspan="4" style="text-align: start;" th:text="${cars.point}"><b>1</b></td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="d-flex justify-content-around pt-5 pb-3">
                                <button class="btn btn-lg btn-secondary">차량수정</button>
                                <button class="btn btn-lg btn-danger" th:carId="${cars.id}" th:onclick="removeCar(this.getAttribute('carId'))">차량삭제</button>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <th:block th:insert="~{fragment/footer :: footer}"></th:block>
</div>
</body>
<script th:inline="javascript">
    function removeCar(id){
        if(confirm("등록하신 차량을 삭제할까요?")){
            location.href = '/cars/remove/'+id;
        }
    }
</script>
</html>