<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert = "~{fragment/head :: header}"></th:block>
    <title>MyPage</title>
</head>
<body class="bg-secondary">
<div class="container">
    <th:block th:insert="~{fragment/nav :: nav}"></th:block>
    <!-- body -->
    <div class="container rounded  mb-5" style="background-color: #adb5bd; margin-top: 100px;">
        <div class="text-center p-5"><h2>딜러페이지</h2></div>
        <div class="d-flex justify-content-center">
            <table class="table w-lg-75 w-xs-100 md-font xs-font">
                <thead>
                <tr>
                    <th colspan="4" style="text-align: center; " th:text="${dealer.name}"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">이름:</th>
                    <td colspan="4" style="text-align: start;" th:text="${dealer.name}"></td>
                </tr>
                <tr>
                    <th scope="row">아이디:</th>
                    <td colspan="4" style="text-align: start;" th:text="${dealer.loginId}"></td>
                </tr>
                <tr>
                    <th scope="row">휴대폰 번호:</th>
                    <td colspan="4" style="text-align: start;" th:text="${dealer.phone}"></td>
                </tr>
                <tr>
                    <th scope="row">회사명:</th>
                    <td colspan="4" style="text-align: start;" th:text="${dealer.card.company}"></td>
                </tr>
                <tr>
                    <th scope="row">사원증 번호:</th>
                    <td colspan="4" style="text-align: start;" th:text="${dealer.card.employee_number}"></td>
                </tr>
                <tr>
                    <th scope="row">사원증 발급일자:</th>
                    <td colspan="4" style="text-align: start;" th:text="${dealer.card.acquisition_date}"><b></b></td>
                </tr>
                <tr>
                    <th scope="row">차량판매횟수:</th>
                    <td colspan="4" style="text-align: start;" th:text="${dealer.sale_count}"><b></b></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-around w-100 pt-5 pb-5">
            <button class="btn btn-secondary btn-lg md-font xs-font" th:onclick="|location.href='@{/cars/posts}'|" style="height:45px">
                차량등록
            </button>
            <button class="btn btn-danger btn-lg md-font xs-font" th:onclick="|location.href='@{/dealer/logout}'|" style="height:45px">
                로그아웃
            </button>
        </div>
        <hr>
         <!--딜러 개인 등록한 차량 리스트-->
        <div class="d-flex justify-content-center py-5">
            <div class="accordion w-lg-75 w-xs-100" id="accordionExample1">
                <div class="accordion-item" style="background-color: #adb5bd;" >
                    <h2 class="accordion-header" id="headingOne1">
                        <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1" style="background-color: #cad0d6;">
                            <span class="w-100 text-center"><b>등록한 차량보기</b></span>
                        </button>
                    </h2>
                    <div id="collapseOne1" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body" th:each="cars : ${list}">
                            <div class="d-lg-flex flex-lg-row flex-xs-column align-item-xs-center">
                                <a th:href="@{/cars/carOne/{num}(num = ${cars.id})}">
                                    <img class="border img-fluid"  th:src="${cars.images[0].path}" alt="" style="width: 400px;height: 300px;">
                                </a>
                                <div class="d-flex justify-content-center w-100 md-font xs-font">
                                    <table class="table w-lg-75 w-xs-100">
                                        <thead>
                                        <tr>
                                            <th colspan="4" style="text-align: center;" th:text="${cars.name}"><b>차량이름</b></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row">등록한 가격:</th>
                                            <td colspan="4" style="text-align: start;" th:text="${cars.price}"><b>2000만원</b></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">등록일자:</th>
                                            <td colspan="4" style="text-align: start;" th:text="${#temporals.format(cars.createAt,'yyyy-MM-dd')}"><b>2020-08-01</b></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">좋아요 횟수:</th>
                                            <td colspan="4" style="text-align: start;" th:text="${cars.point}"><b>1</b></td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="d-md-flex flex-md-row justify-content-md-around pt-5 pb-3 d-xs-flex flex-xs-column align-item-xs-center">
                                <button class="btn btn-lg mb-xs-2  btn-secondary md-font xs-font" th:carId="${cars.id}" th:onclick="modifyCar(this.getAttribute('carId'))">차량수정</button>
                                <button class="btn btn-lg mb-xs-2 btn-secondary md-font xs-font" th:carId="${cars.id}" th:onclick="saleCar(this.getAttribute('carId'))">차량판매완료</button>
                                <button class="btn btn-lg  btn-danger md-font xs-font" th:carId="${cars.id}" th:onclick="removeCar(this.getAttribute('carId'))">차량삭제</button>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!--딜러가 쓴 게시물 보기-->
        <div class="d-flex justify-content-center py-5">
            <div class="accordion w-lg-75 w-xs-100" id="accordionExample2">
                <div class="accordion-item" style="background-color: #adb5bd;" >
                    <h2 class="accordion-header" id="headingOne2">
                        <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2" style="background-color: #cad0d6;">
                            <span class="w-100 text-center"><b>등록한 게시물 보기</b></span>
                        </button>
                    </h2>
                    <div id="collapseOne2" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-8 offset-md-2">
                                    <div class="list-group-flush">
                                        <a th:href="@{/board/dealerBoard/{num}(num = ${board.id})}" th:each="board : ${boardList}" th:text="${board.title}" class="list-group-item list-group-item-action border rounded-lg my-3 py-3 text-center">

                                        </a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <th:block th:insert="~{fragment/footer :: footer}"></th:block>
</div>
</body>
<script th:inline="javascript">
    function removeCar(id){
        if(confirm("등록하신 차량을 삭제할까요?")){
            location.href = '/cars/remove/'+id;
        }
    }
    function modifyCar(id){
        if(confirm("차량정보를 수정할까요?")){
            location.href = '/cars/modify/'+id;
        }
    }
    function saleCar(id){
        if(confirm("해당 차량을 판매완료 처리하시겠습니까?")){
            location.href = '/cars/sale/'+id;
        }
    }
</script>
</html>