<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:insert = "~{fragment/head :: header}"></th:block>
  <title>Cars</title>
</head>
<body class="bg-secondary">
<div class="container">
  <th:block th:insert="~{fragment/nav :: nav}"></th:block>
  <div class="container rounded mt-5 mb-5" style="background-color: #adb5bd;">
    <!-- search bar -->
    <div class="container p-5 w-75">
      <form class="form-group d-flex justify-content-around">
        <input type="text" class="form-control mr-2" id="exampleFormControlInput1" placeholder="원하시는 차량을 입력해주세요!" style="border-radius: 30px;height: 50px;">
        <button class="btn ml-2" type="submit" style="background-color: rgba(31, 163, 150, 0)"><img src="/img/icon/free-icon-search-6968650.png" alt="" style="width: 30px; height: 30px;"></button>
      </form>
    </div>

    <!-- carList -->
    <div class="container d-flex justify-content-around rounded">
      <div class="card m-5" style="width: 18rem;">
        <img src="/img/bmw/320_i/bmw_320i_main.webp" class="card-img-top" alt="...">
        <div class="card-body" style="background-color: #d1dbe8;">
          <h5 class="card-title">BWM-320</h5>
          <p class="card-text">가격: </p>
          <p class="card-text">주행거리: </p>
          <a href="#" class="btn" style="background-color: #adb5bd;">Go somewhere</a>
        </div>
      </div>
      <div class="card m-5" style="width: 18rem;">
        <img src="/img/hyundai/sonata/sonata.main.webp" class="card-img-top" alt="...">
        <div class="card-body" style="background-color: #d1dbe8;">
          <h5 class="card-title">Sonata</h5>
          <p class="card-text">가격: </p>
          <p class="card-text">주행거리: </p>
          <a href="#" class="btn" style="background-color: #adb5bd;">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-around mt-5 rounded">
      <div class="card m-5" style="width: 18rem;">
        <img src="/img/hyundai/tucson/Tucson_main.webp" class="card-img-top" alt="...">
        <div class="card-body" style="background-color: #d1dbe8;">
          <h5 class="card-title">Tucson</h5>
          <p class="card-text">가격: </p>
          <p class="card-text">주행거리: </p>
          <a href="#" class="btn" style="background-color: #adb5bd;">Go somewhere</a>
        </div>
      </div>
      <div class="card m-5" style="width: 18rem;">
        <img src="/img/kia/sorento/sorento_main.webp" class="card-img-top" alt="...">
        <div class="card-body" style="background-color: #d1dbe8;">
          <h5 class="card-title">Sorento</h5>
          <p class="card-text">가격: </p>
          <p class="card-text">주행거리: </p>
          <a href="#" class="btn" style="background-color: #adb5bd;">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <th:block th:insert="~{fragment/footer :: footer}"></th:block>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>