<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert = "~{fragment/head :: header}"></th:block>
    <title>Login</title>
</head>
<body class="bg-secondary">
<div class="container">
    <th:block th:insert="~{fragment/nav :: nav}"></th:block>
    <!-- body -->
    <div class="container rounded mt-5 mb-5" style="background-color: #adb5bd;">
        <div class="text-center p-5"><h2>로그인을 해주세요</h2></div>

        <form name="frm" class="container" method="post" action="/member/loginAction">
            <div class="d-flex flex-row justify-content-center mb-5 pt-5">
                <label for="id" class="col-form-label">Login_ID</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" id="id" name="id" class="form-control w-25" aria-describedby="passwordHelpInline">
            </div>
            <div class="d-flex flex-row justify-content-center pb-5">
                <label for="password" class="col-form-label">Password</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="password" id="password" name="password" class="form-control w-25" aria-describedby="passwordHelpInline">
            </div>
            <div class="d-flex flex-row justify-content-center pb-5">
                <button type="button" onclick="check_IDPW()" class="btn btn-secondary" style="width: 120px; height: 50px;">로그인</button>
            </div>
            <div id="warn" class="pb-4" style="color:red;text-align : center; display : none">
                아이디 또는 비밀번호가 틀렸습니다.
            </div>
            <div class="text-center h-auto pb-5">
                혹시 회원이 아니신가요? <b><a href="/member/join">(회원가입 바로가기)</a></b>
            </div>
        </form>
    </div>
    <th:block th:replace="~{fragment/footer :: footer}"></th:block>
</div>
</body>
<script>
    function check_IDPW(){
        const id = $("#id").val();
        const password = $("#password").val();
        $.ajax({
            url : '/member/check_IDPW',
            data :
            {
                id : id,
                password : password
            },
            method : "GET",
            dataType : "json",
            contentType: 'application/json'
        }).done(function(res){
            if(res){
                frm.submit();
            }else{
                $("#warn").css("display","block");
            }
        }).fail(function(xhr,status,error){
                alert("오류발생"+error);
        })
    }
</script>
</html>