<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--Header-->
<head>
    <th:block th:insert = "~{fragment/head :: header}"></th:block>
    <title>Main</title>
    <style>
        @media (min-width: 0) {
            .pt-xs-5{
                padding-top: 30px;
            }
        }
    </style>
</head>
<body class="bg-secondary">
<div class="container">
    <!--Nav-->
    <th:block th:insert="~{fragment/nav :: nav}"></th:block>
    <!--Main Page Body-->
    <div class="container d-lg-flex justify-content-lg-center h-auto mb-5 rounded" style="background-color: #adb5bd; margin-top: 100px;">
        <!-- search bar -->
        <div class="container-lg p-lg-2 w-lg-75 mt-lg-5 pt-xs-5 col-lg-6">
            <form class="form-group d-flex justify-content-around" action="/cars/search">
                <input type="text" class="form-control mr-2" name="value" id="exampleFormControlInput1" placeholder="원하시는 차량을 입력해주세요!" style="border-radius: 30px;height: 50px;">
                <button class="btn ml-2" type="submit" style="background-color: rgba(31, 163, 150, 0)"><img src="/img/icon/free-icon-search-6968650.png" alt="" style="width: 30px; height: 30px;"></button>
            </form>
            <th:block th:if="${top2car} != null">
            <!--BEST1 CARD-->
            <div class="container-sm d-md-flex justify-content-md-center">
                <div class="card m-5" style="max-width:22rem" th:each="list , current: ${top2car}">
                    <a th:href="@{/cars/carOne/{num}(num = ${list.id})}">
                        <img th:src="${list.images[0].path}" class="card-img-top img-fluid" alt="...">
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            BEST[[${current.index+1}]]!!!
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </a>
                    <div class="card-body" style="background-color: #d1dbe8;">
                        <h5 class="card-title" th:text="${list.name}">BWM-320</h5>
                        <p class="card-text">가격: [[${list.price}]] (만원)</p>
                        <p class="card-text">주행거리: [[${list.distance_driven}]] (KM)</p>
                        <div class="w-100 d-flex justify-content-end">
                            <a th:href="@{/cars/carOne/{num}(num = ${list.id})}" class="btn" style="background-color: #adb5bd;">차량보기</a>
                        </div>
                    </div>
                </div>
            </div>
            </th:block>
        </div>
        <!--carousel-->
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade col-lg-6 p-lg-2 w-lg-75 w-sm-100 mt-5 mb-sm-5 px-sm-3 h-auto" data-bs-ride="carousel" >
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/carousel/carousel1.jpg" class="d-block w-100 img-fluid" alt="..." style="height: 700px;">
                </div>
                <div class="carousel-item">
                    <img src="/img/carousel/carousel2.png" class="d-block w-100 img-fluid" alt="..." style="height: 700px;">
                </div>
                <div class="carousel-item">
                    <img src="/img/carousel/carousel3.png" class="d-block w-100 img-fluid" alt="..." style="height: 700px;">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <th:block th:insert="~{fragment/footer :: footer}"></th:block>

</div>
</body>
</html>